<section>
  <form action="/item" method="post" class="pure-form pure-form-stacked content">
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    <fieldset>
      <legend>Add items to your poll</legend>

      <input type="text" name="name[]" placeholder="Name of item..." />

      <a href="#" class="add-item">Add another <i class="icon-plus"></i></a>

      <input type="hidden" name="poll_id" value="<%= poll_id %>" />
      <button type="submit" class="pure-button button-success">Create poll<i class="icon-checkmark right"></i></button>
    </fieldset>
  </form>
</section>