/*** BOURBON/NEAT ***/
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@mixin omega-reset($nth, $fg-gutter) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($fg-gutter); }
  &:nth-child(#{$nth}+1) { clear: none }
}
/*** BOURBON/NEAT ***/

/*** COLORS/FONTS ***/
$body-bg: #fff;
$true-blue: #0078e7;
$lato: 'Lato', $helvetica;
$helvetica: Helvetica, Arial, sans-serif;
/*** COLORS/FONTS ***/

body {
  font-family: $lato;
  font-size: 16px;
  background-color: $body-bg;
}

section {
  @include outer-container;
  padding: 20px;
  form {
    @include span-columns(6);
    @include shift(3);
    fieldset {
      legend {
        font-size: 20px;
        font-weight: bold;
      }
    }
    textarea { width: 100%; }
    @include media($tablet) {
      @include span-columns(8);
      @include shift(2);
    }
    @include media($mobile) {
      @include span-columns(6);
      @include shift(0);
      input[type=text] { width: 100%; }
    }
    a.add-item {
      display: block;
      margin: 12px 0;
      padding: 2px 0;
      color: $true-blue;
      text-decoration: none;
    }
  }
}