<section>
  <form action="/session/create" method="post" class="content pure-form pure-form-stacked">
    <fieldset>
      <legend>Log in</legend>

      <input id="username" type="text" name="username" placeholder="Username..." />
      <input id="password" type="password" name="password" placeholder="Password..." />

      <button type="submit" class="pure-button button-success"><i class="icon-user-add left"></i>Log in!</button>
    </fieldset>
    <hr />
    <a href="/session/facebook" class="pure-button button-facebook"><i class="icon-facebook left"></i>Connect with Facebook</a>
  </form>
</section>