<section>
  <form action="/user" method="post" class="content pure-form pure-form-stacked">
    <fieldset>
      <legend>Create an account</legend>

      <input id="email" type="email" name="email" placeholder="Email address..." />
      <input id="password" type="password" name="password" placeholder="Password..." />

      <button type="submit" class="pure-button button-success"><i class="icon-user-add left"></i>Sign up!</button>
    </fieldset>
  </form>
</section>