<section>
  <form action="/poll" method="post" class="pure-form pure-form-stacked">
    <fieldset>
      <legend>New poll</legend>

      <input id="title" type="text" name="title" placeholder="Title of poll..." />

      <textarea id="description" name="description" rows="3" cols="24" placeholder="Short description..."></textarea>

      <label for="private" class="pure-checkbox">
        <input id="private" type="checkbox"> Private?
      </label>

      <button type="submit" class="pure-button pure-button-primary">Continue &rsaquo;</button>
    </fieldset>
  </form>
</section>