<section>
  <form action="/poll" method="post" class="content pure-form pure-form-stacked">
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    <fieldset>
      <legend>Create a new poll</legend>

      <input id="title" type="text" name="title" placeholder="Title of poll..." />

      <textarea id="description" name="description" rows="3" cols="24" placeholder="Short description..."></textarea>

      <label for="private" class="pure-checkbox">
        <input id="private" type="checkbox"> Private?
      </label>

      <button type="submit" class="pure-button pure-button-primary">Continue<i class="icon-arrow-right right"></i></button>
    </fieldset>
  </form>
</section>